    
        <div class="swap-class-note" ng-controller="swapClassNoteCtrl">
            <div class="path-name">
                <img src="imgs/index.png">首页>>调代课
            </div>
            <form class="form-inline">
                <div class="form-group term">
                    <lable for="term">学期：</lable>
                    <select class="form-control input-att" ng-model="termSelect">
                            <option ng-repeat="term in termList" value="{{term.autoId}}">{{term.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <lable for="type">类型：</lable>
                    <input class="type-swap" type="radio" name="leave-type" value="1" ng-checked="true" ng-model="swapClassType">调课               
                    <input class="type-rep" type="radio" name="leave-type" value="2" ng-model="swapClassType">代课
                </div>
                <div class="br"></div>
                <div class="col-sm-3">
                    <div class="form-group">
                         <lable for="classroom">调课教师：</lable>
                         <select class="form-control input-att" ng-model="aTeacherSelect" id="active" ng-init="aTeacherSelect='000000'" get-course-tab>
                            <option value="000000">请选择教师</option>
                            <option ng-repeat="teacher in teacherList" value="{{teacher.autoId}}">{{teacher.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <lable for="classroom">周次：</lable>
                     <select class="form-control input-att" ng-model="startWeekSelect" ng-init="startWeekSelect='000000'">
                         <option value="000000">所有</option>
                         <option ng-repeat="week in teachWeekList" value="{{$index+1}}">{{week}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                         <lable for="classroom">被调教师：</lable>
                        <select class="form-control input-att" ng-model="pTeacherSelect" id="passive" ng-init="pTeacherSelect='000000'" get-course-tab>
                            <option value="000000">请选择教师</option>
                            <option ng-repeat="teacher in teacherList" value="{{teacher.autoId}}">{{teacher.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <lable for="classroom">周次：</lable>
                    <select class="form-control input-att" ng-model="endWeekSelect" ng-init="endWeekSelect='000000'">
                         <option value="000000">所有</option>
                         <option ng-repeat="week in teachWeekList" value="{{$index+1}}">{{week}}</option>
                    </select>
                </div>
            </form>
            <div class="col-sm-6">
                <table class="table table-striped table-condensed table-bordered" id="out-table" swap-class-deal>
                    <thead>
                        <tr>
                            <th class="fst-col-lst">课序</th>
                            <th>周一</th>
                            <th>周二</th>
                            <th>周三</th>
                            <th>周四</th>
                            <th>周五</th>
                        </tr>
                    </thead>
                    <tbody crs-directive>
                        <tr>
                            <td class="fst-col-lst">第一节</td>    
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第二节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第三节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第四节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第五节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第六节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第七节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第八节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-striped table-condensed table-bordered" id="in-table" swap-class-deal>
                    <thead>
                        <tr>
                            <th class="fst-col-lst">课序</th>
                            <th>周一</th>
                            <th>周二</th>
                            <th>周三</th>
                            <th>周四</th>
                            <th>周五</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="fst-col-lst">第一节</td>    
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第二节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第三节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第四节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第五节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第六节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第七节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="fst-col-lst">第八节</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-inline text-center">
                <span class="confirm-swap"><button class="btn btn-default" ng-click="classNoteSave()">确认提交</button></span>
                <span class="cancel-swap"><button class="btn btn-default" ng-click="goBack()">取消</button></span>
            </div>
         </div>