
            <div class="leave" ng-controller="leaveNoteCtrl">
                <div class="path-name">
                    <img src="imgs/index.png">首页>>请假管理>>请假登记
                </div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <lable for="term" class="col-sm-4 control-lable text-right" >学期：</lable>
                        <div class="col-sm-3">
                            <select class="form-control input-att" ng-model="termSelect">
                            <option ng-repeat="term in termList" value="{{term.autoId}}">{{term.name}}</option>
                        </select>
                        </div>            
                    </div>
                    <div class="form-group">
                        <lable for="term" class="col-sm-4 control-lable  text-right" >班级：</lable>
                        <div class="col-sm-3">
                            <select class="form-control input-att" ng-model="classSelect">
                                <option ng-repeat="myClass in myClassList" value="{{myClass.autoId}}">{{myClass.name}}</option>
                        </select>
                        </div>            
                    </div>
                    <div class="form-group">
                        <lable for="term" class="col-sm-4 control-lable  text-right" >请假学生：</lable>
                        <div class="col-sm-3">
                            <select class="form-control input-att" ng-model="studentSelect" ng-init="studentSelect='000000'">
                                <option value="000000">请选择学生</option>
                                <option ng-repeat="stu in studentList" value="{{stu.studentId}}">{{stu.stuName}}</option>
                            </select>
                        </div>            
                    </div>
                    <div class="form-group">
                        <lable for="term" class="col-sm-4 control-lable text-right" >请假开始时间：  </lable>
                        <div class="col-sm-2">
                            <select class="form-control input-att" ng-model="startWeekSelect" ng-init="startWeekSelect='000000'">
                                <option value="000000">请选择周次</option>
                                <option ng-repeat="week in teachWeekList" value="{{$index+1}}">{{week}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control input-att" ng-model="startWeekdaySelect" ng-init="startWeekdaySelect='000000'">
                                <option value="000000">请选择星期</option>                                
                                <option ng-repeat="weekday in weekdayList" value="{{$index+1}}">{{weekday}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control input-att" ng-model="startClassSeqSelect" ng-init="startClassSeqSelect='000000'">
                                <option value="000000">请选择节次</option>
                                <option ng-repeat="classSeq in classSeqList" value="{{$index+1}}">{{classSeq}}</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <lable for="end-time" class="col-sm-4 control-lable text-right" >请假结束时间：  </lable>
                          <div class="col-sm-2">
                            <select class="form-control input-att" ng-model="endWeekSelect" ng-init="endWeekSelect='000000'">
                                <option value="000000">请选择周次</option>
                                <option ng-repeat="week in teachWeekList" value="{{$index+1}}">{{week}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control input-att" ng-model="endWeekdaySelect" ng-init="endWeekdaySelect='000000'">
                                <option value="000000">请选择星期</option>                                
                                <option ng-repeat="weekday in weekdayList" value="{{$index+1}}">{{weekday}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control input-att" ng-model="endClassSeqSelect" ng-init="endClassSeqSelect='000000'">
                                <option value="000000">请选择节次</option>
                                <option ng-repeat="classSeq in classSeqList" value="{{$index+1}}">{{classSeq}}</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leave-type" class="col-sm-4 control-lable text-right" ><span class="tt">请假类型：</span></label> 
                        <div class="col-sm-1" ng-repeat="leaveType in leaveTypeList">
                            <input type="radio" name="leave-type" value="{{$index}}" ng-model="$parent.leaveType" >{{leaveType}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="leave-reason" class="col-sm-4 control-lable text-right" ><span class="tt">请假原因：</span></label> 
                        <div class="col-sm-6">
                            <span class="leave-reason">
                            <textarea class="form-control" row="10" placeholder="请输入请假原因" ng-model="leaveReason"></textarea></span>
                        </div>  
                    </div>
                    <div class="form-inline text-center">
                        <span class="confirm-leave"><button class="btn btn-default" ng-click="leavenNoteSave()">确认提交</button></span>
                        <span class="cancel-leave"><button class="btn btn-default" ng-click="leavenNoteCancel()">取消</button></span>
                    </div>              
                </form>
            </div>